<%- include('partials/header', { title: 'Login' }) %>
<h1>Admin Login</h1>
<% if (error.length) { %>
  <p style="color:red"><%= error %></p>
<% } %>
<form action="/login" method="post">
  <input name="username" placeholder="Username" required>
  <input name="password" type="password" placeholder="Password" required>
  <button type="submit" class="btn">Log In</button>
</form>
<%- include('partials/footer') %>
